.click-item:active, .boost-button:active {
    opacity: 0.7;
}

.welcome-block {
    margin-bottom: 2rem;
    text-align: center;
}

.boosts-container {
    margin-top: 2rem;
    gap: 1rem;
    justify-content: center;
}

.tips-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.tips-arrow {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
    transition: transform 0.2s ease;
}

    .tips-arrow:hover {
        transform: scale(1.2);
    }

.tips-content {
    max-width: 300px;
    text-align: center;
    padding: 0 10px;
    font-size: 16px;
    overflow-wrap: break-word;
}

.boosts-container {
    margin-bottom: 100px;
}

.ore-click-area {
    display: inline-block;
    position: relative;
}

.ore-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.ore-image {
    position: absolute;
    width: 50px;
    height: 50px;
    pointer-events: none;
    animation: float-up 1.5s ease-out forwards;
}

@keyframes float-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}